<!DOCTYPE html>
{% load staticfiles %}
<html lang="de" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} Stationsplan {% endblock title %}</title>
    <meta name="description" content="Planung von Stationsbesetzung und Funktionen für Krankenhäuser">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print" />
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body>
    <div class="container">
    <noscript>
      <div class="row">
        <div class="col">
          <div class="alert alert-danger">Ihr Browser scheint Javascript nicht zu unterstützen. Ohne Javascript funktioniert diese App aber nicht.</div>
        </div>
      </div>
    </noscript>
    {% block navigation %} {% endblock navigation %}
    {% block content %} {% endblock content %}
    </div> <!-- /.container -->

    {% block extracontent %}
    {% endblock extracontent %}

    <script src="{% static 'vendor/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.validate.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
    {% block extrascripts %}
    {% endblock extrascripts %}
  </body>
</html>
