<!DOCTYPE html>
{% load staticfiles %}
<html lang="de" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} Stationsplan {% endblock title %}</title>
    <meta name="description" content="Planung von Stationsbesetzung und Funktionen für Krankenhäuser">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print" />
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body>
    <div class="container">
      {% if user.is_authenticated %}
        <div class="account-details dropdown">
          {% firstof user.get_full_name user.get_username %} 
          <a id="account-label" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="account-label">
            <li><a href="/logout">Abmelden</a></li>
            {% if request.session.can_change_password %}
            <li><a href="/password_change">Passwort ändern</a></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
        {% block content %}
            
        {% endblock content %}
    </div> <!-- /.container -->

    {% block extracontent %}
    {% endblock extracontent %}

    <script src="{% static 'vendor/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.validate.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
    {% block extrascripts %}
    {% endblock extrascripts %}
  </body>
</html>
