{% extends "base.html" %}

{% block navigation %}
{% include "sp_app/navigation.html" %}
{% endblock navigation %}

{% block content %}
<h1>Impressum</h1>
<h2 >Diensteanbieter</h2>
<p>Dr. med. Johannes Ammon</p>
<p>Wiesenstr. 19</p>
<p>47906 Kempen</p>
<h2 >Kontaktmöglichkeiten</h2>
<p>E-Mail-Adresse: <a href="mailto:j.ammon@stationsplan.de">j.ammon@stationsplan.de</a></p>
<h2 >Haftungs- und Schutzrechtshinweise</h2>
<p><strong>Haftungsausschluss</strong>: Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen Kenntnisstand erstellt, dienen jedoch nur der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um gesetzlich verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung, AGB oder verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte vollständig oder teilweise zu ändern oder zu löschen, soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich. </p>
<p>Insbesondere tragen die Nutzer die Verantwortung für die eingetragenen Planungen und auch für die Kommunikation mit den betroffenen Personen.</p>
 {% endblock content %}
