{% extends "base.jinja" %}

{% block navigation %}
{% include "sp_app/navigation.jinja" %}
{% endblock navigation %}

{% block content %}
<div class="row" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <div class="col col-xs-12">
    <table class="table auto-width">
      {% for person in persons %}
      {% include "sp_app/ical/person_feed.jinja" %}
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
{% block extrascripts %}
<script src="{{ static('vendor/htmx.min.js') }}"></script>
{% endblock extrascripts %}