{% with id=widget.attrs.id %}
  <div{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
  {% for group, options, index in widget.optgroups %}
    {% comment %}Ignoring groups for now{% endcomment %}
    {% for option in options %}
			  <label class="form-check-label checkbox-inline" for="id_{{ option.name }}_{{ option.index }}">
			    <input class="form-check-input" type="checkbox"
			     id="id_{{ option.name }}_{{ option.index }}" 
			     value="{{ option.value|stringformat:'s' }}" name="{{ option.name }}"
			     {% include "django/forms/widgets/attrs.html" %}
			     {% if option.selected %} checked="checked"{% endif %}/>
			    {{ option.label }}
			  </label>
    {% endfor %}
  {% endfor %}
  </div>
{% endwith %}
