<div class="col-md-3 col-sm-6">
  <h2>Funktionen</h2>
  <ul>
    {% for funktion in funktionen %}
    {% if funktion.active %}
      <li> <a href="/funktion/{{ funktion.pk }}">{{ funktion.name }}</a> </li>
    {% endif %}
    {% empty %}
    Noch keine Funktionen angelegt.
    {% endfor %}
  </ul>
  <a class="btn btn-default" hx-get="/funktion/add" hx-target="#edit-area"
       hx-swap="innerHTML show:top" hx-select="#form" role="button">
    Neue Funktion</a>
</div>
{% if inactive_wards %}
<div class="col-md-3 col-sm-6">
  <h2>Inaktive Funktionen</h2>
  <ul>
    {% for funktion in funktionen %}
    {% if not funktion.active %}
      <li> <a href="/funktion/{{ funktion.pk }}">{{ funktion.name }}</a> </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
