<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Benutzer</h4>
    </div>
    <div class="modal-body">
      <form hx-post="{{ url }}" class="form-horizontal employee-edit-form">
        {% csrf_token %}
        {% with user_form.username as field %}
            {% include "sp_app/partials/horizontal-edit-field.html" %}
        {% endwith %}
        {% with user_form.first_name as field %}
            {% include "sp_app/partials/horizontal-edit-field.html" %}
        {% endwith %}
        {% with user_form.last_name as field %}
            {% include "sp_app/partials/horizontal-edit-field.html" %}
        {% endwith %}
        {% with employee_form.lvl as field %}
            {% include "sp_app/partials/horizontal-edit-field.html" %}
        {% endwith %}
        {% with employee_form.departments as field %}
            {% include "sp_app/partials/horizontal-edit-field.html" %}
        {% endwith %}
      {% if user_form.errors %}
          <div>{{ user_form.errors }}</div>
       {% endif %}
      {% if employee_form.errors %}
          <div>{{ employee_form.errors }}</div>
       {% endif %}
      <div><button type="submit">Speichern</button></div>
      </form>
    </div>
  </div>
</div>
