<div class="row">
  <div class="col-md-3 col-sm-6">
{% for employee in employees if employee.user.is_active %}
		<p>
      <a hx-get={{ url("employee-update", employee.id) }}
		     hx-target="#edit-area" class="employee-detail editable" >
			{{ employee.name_and_level() }}</a>
    </p>
{% endfor %}
  <div>
    <a class="btn btn-default editable"
       hx-get="{{ url('employee-add') }}" 
       hx-target="#edit-area" 
       role="button">
    Neue/r Bearbeiter/in</a>
  </div>
  </div>
  <div id="edit-area" class="col-md-9 col-sm-6"></div>
</div>
