<form hx-post="{{ url }}" hx-target="#setup-tab" class="form-horizontal edit-form">
  {% csrf_token %}
  {% with "./horizontal-edit-field.html" as template %}
  {% include template with field=user_form.username %}
  {% if user_form.password1 %}
  {% include template with field=user_form.password1 %}
  {% include template with field=user_form.password2 %}
  {% endif %}
  {% include template with field=user_form.first_name %}
  {% include template with field=user_form.last_name %}
  {% include template with field=employee_form.lvl %}
  {% include template with field=employee_form.departments %}
  {% endwith %}
  <div>
    <button class="btn btn-primary" type="submit">Speichern</button>
    {% if delete_url %}
    <a hx-get="{{ delete_url }}" hx-target="#edit-area"
      hx-confirm="Wollen Sie {{ employee.get_name }} als Bearbeiter/in deaktivieren?"
      class="btn btn-default">Bearbeiter/in deaktivieren</a>
    {% endif %}
  </div>
</form>