<ul class="nav nav-tabs" id="setup-nav" hx-swap-oob="true"
  role="presentation">
{% macro tab(id, title) -%}
{% with url="/setup/" + id -%}
  <li {% if url==current_url %}class="active"{% endif %}>
    <a hx-get="{{ url }}" hx-target="#setup-tab"
      id="setup-{{ id }}" >{{ title }}</a>
  </li>
{%- endwith %}
{%- endmacro %}
  {{ tab("departments", "Abteilungen") }}
  {{ tab("employees", "Bearbeiter/innen") }}
  {{ tab("persons", "Mitarbeiter/innen") }}
  {{ tab("wards", "Funktionen") }}
  {{ tab("zuordnung", "Zuordnung") }}
</ul>