{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col col-xs-12">
    <h1>Aktivierungscode ungültig</h1>
    <p>Leider scheint es ein Problem mit diesem Aktivierungscode zu geben. Ihr Benutzerkonto konnte nicht aktiviert werden.</p>
    <p>Bitte achten Sie ggf. darauf, dass der gesamte Code aus der Aktivierungsmail in der Adresszeile Ihres Browsers erscheint.</p>
    <p>Bei anhaltenden Problemen wenden Sie sich an: <a href="mailto:support@stationsplan.de">support@stationsplan.de</a>.</p>
  </div>
</div>
{% endblock content %}