{% extends "base.jinja" %}
{% block content %}
<div class="row">
    <div class="col-xs-12">{{ no_deleted }} Test-Objekte wurden gelöscht.</div>
    <div class="col-xs-12">
        <a href="/">Zur Startseite</a>
    </div>
</div>
{% endblock content %}