<footer class="footer row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li class="lead"><a href="/impressum">Impressum</a></li>
        <li class="lead"><a href="/datenschutz">Datenschutzerklärung</a></li>
      </ul>
    </div>
</footer>