<footer class="footer">
  <div class="container">
    <p>
      <ul class="nav nav-pills">
        <li class="lead"><a href="/impressum">Impressum</a></li>
        <li class="lead"><a href="/datenschutz">Datenschutzerklärung</a></li>
      </ul>
      
      
    </p>
  </div>
</footer>