{% extends "base.html" %}
{% load static %}

{% block navigation %}
{% include "sp_app/navigation.html" %}
{% endblock navigation %}

{% block content %}
<div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<h1>{{ company.name }}</h1>
<div class="row">
	<div class="col col-xs-12">
		Es kommen die Feiertage von <strong>{{ company.region.name }}</strong> zur Anwendung.
	</div>
	<div class="col col-sm-6">
		<h2>Abteilungen</h2>
		<div id="departments">
			{% include "sp_app/partials/departments.html" %}
		</div>
	</div>
	<div class="col col-sm-6">
		<h2>Bearbeiter</h2>
		<div id="employees">
			{% include "sp_app/partials/employees.html" %}
		</div>
	</div>
</div>
</div>
{% endblock content %}

{% block extracontent %}
<div class="modal" id="edit-window" tabindex="-1" role="dialog"></div>
{% endblock extracontent %}

{% block extrascripts %}
	<script src="{% static 'vendor/htmx.min.js' %}"></script>
	<script>
    htmx.on("htmx:afterOnLoad", function(evt) {
        if (evt.detail.elt.matches(".editable")) {
            setTimeout(function() {
                $("#edit-window").modal("show");
            }, 10)
        }
        if (evt.detail.elt.matches(".employee-edit-form")) {
            setTimeout(function() {
                $("#edit-window").modal("hide");
            }, 10)
        }
    });
	</script>
{% endblock extrascripts %}
