<div class="col-md-3 col-sm-6">

  <h2>{% if former_persons %}Aktuelle {% endif %}Mitarbeiter/innen</h2>
  <ul>
    {% for person in personen %}
    {% if person.current %}
      {% include "sp_app/person_line.html" %}
    {% endif %}
    {% empty %}
    Noch keine Mitarbeiter/innen angelegt.
    {% endfor %}
  </ul>
  <div>
    <a class="btn btn-default" hx-get="/person/add" hx-target="#edit-area"
       hx-swap="innerHTML show:top" hx-select="#form" role="button">
    Neue/r Mitarbeiter/in</a>
  </div>
  {% if personen and funktionen %}
    <div><a href="/zuordnung">Personen und Funktionen zuordnen</a></div>
  {% endif %}
  {% if email_available and personen %}
    <div><a href="/ical_feeds">Persönlichen Kalender erstellen</a></div>
  {% endif %}
</div>
{% if former_persons %}
<div class="col-md-3 col-sm-6">
  <h2>Frühere Mitarbeiter/innen</h2>
  <ul>
    {% for person in personen %}
    {% if not person.current %}
      {% include "sp_app/person_line.html" %}
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
