{% extends "base.html" %}
{% load i18n %}

{% block navigation %}
{% include "sp_app/navigation.html" %}
{% endblock navigation %}

{% block content %}
<h1>Mitarbeiter bearbeiten</h1>
<form action="" method="post">{% csrf_token %}
<div class="row">
{% if form.errors %}
  <p class="STYLE-THIS">
  {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}
  {% else %}{% trans "Please correct the errors below." %}
  {% endif %}
  </p>
{% endif %}

<div class="col col-md-3 col-sm-6 col-xs-12">
<table>
  <tr>
    {% include "sp_app/widgets/table_field_template.html" with field=form.name%}
  </tr>
  <tr>
    {% include "sp_app/widgets/table_field_template.html" with field=form.shortname%}
  </tr>
</table>
</div>

<div class="col col-md-3 col-sm-6 col-xs-12">
<table>
  <tr>
    {% include "sp_app/widgets/table_field_template.html" with field=form.start_date%}
  </tr>
  <tr>
    {% include "sp_app/widgets/table_field_template.html" with field=form.end_date%}
  </tr>
</table>
</div>

<div class="col col-md-3 col-sm-6 col-xs-12">
<table>
  <tr>
    {% include "sp_app/widgets/table_field_template.html" with field=form.departments%}
  </tr>
</table>
</div>

<div class="col col-md-3 col-sm-6 col-xs-12">
<table>
  <tr>
    {% include "sp_app/widgets/table_field_template.html" with field=form.position%}
  </tr>
</table>
</div>

  {{ form.company.as_hidden }}
  <div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <button type="submit" class="btn btn-default">Speichern</button>
  </div>
  </div>
</div>


</form>
{% endblock content %}
