{% extends "base.html" %}

{% block content %}
<h1>Mitarbeiter/innen</h1>

<h2>Aktuelle</h2>
<ul>
    {% for person in personen %}
    {% if person.current %}
        <li>
        	<a href="/person/{{ person.pk }}">{{ person.name }}</a>
        </li>
    {% endif %}
    {% endfor %}
</ul>
<a class="btn btn-default" href="/person/add/" role="button">Neue/r Mitarbeiter/in</a>
<h2>Frühere</h2>
<ul>
    {% for person in personen %}
    {% if not person.current %}
        <li>
        	<a href="/person/{{ person.pk }}">{{ person.name }}</a>
        </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}