{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block content %}
      <div class="logout">{{ name }}, <a href="/logout">Abmelden</a></div>
      <div role="main" id="main-content">
        <h1>Stationsplan</h1>
      </div>
      <div class="next_month">
        <button type="button" id="next_month" class="btn btn-primary">
          nächster Monat
        </button>
      </div>
      <div id="log"></div>
      <div id="errors"></div>
{% endblock content %}

{% block extracontent %}
<!-- Modal dialog for changing staff -->
<div class="modal fade" id="changestaff" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="changestaffLabel">Besetzung ändern</h4>
        <p><span class="changedate"></span>, <span class="changeward"></span></p>
      </div>
      <div class="modal-body">
        <table id="changestafftable"></table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
{% endblock extracontent %}

{% block extrascripts %}
  {% compress js %}
    <script src="{% static 'vendor/underscore.js' %}"></script>
    <script src="{% static 'vendor/backbone.js' %}"></script>

    <script src="{% static 'vendor/bootstrap.modalform.js' %}"></script>
    <script src="{% static 'js/models.js' %}"></script>
    <script src="{% static 'js/views.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  {% endcompress %}
    <script type="text/javascript">
      var persons_init = {{ persons|safe }};
      var wards_init = {{ wards|safe }};
      var past_changes = {{ past_changes|safe }};
      var changes = {{ changes|safe }};
      var curr_year = {{ year }};
      var curr_month = {{ month }};
      sp.can_change = {{ can_change }}==1;
      var next_month_btn = $('#next_month');
      var next_year, next_month;

      sp.initialize_wards(wards_init);
      sp.persons.reset(persons_init);
      add_month(curr_year, curr_month-1);
      _.each(past_changes, sp.apply_change);
      _.each(changes, sp.apply_change);

      if (curr_month==12) {
        next_year = curr_year+1;
        next_month = 0;
      } else {
        next_year = curr_year;
        next_month = curr_month;
      }
      next_month_btn.on('click', function () {
        add_month(next_year, next_month);
        // TODO: read changes!!
        $.ajax('/month', {
            data: {
                month: next_month+1,
                year: next_year,
            },
            method: 'GET',
            error: function(jqXHR, textStatus, errorThrown) {
                sp.store_error(textStatus, 'error');
                // sp.display_error(jqXHR.responseText);
            },
            success: function(data, textStatus, jqXHR) {
                if (data.warning) {
                    sp.store_error(data.warning, 'warning');
                } else {
                  _.each(data, sp.apply_change);
                }
            },
        });
        next_month += 1;
        if (next_month==12) {
          next_year += 1;
          next_month = 0;
        }
      });

    </script>
{% endblock extrascripts %}
  </body>
</html>
