{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.0.custom/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.0.custom/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.0.custom/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}">
{% endblock extrahead %}

{% block navigation %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Toggle for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#stationsplan-navbar-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">Stationsplan</p>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav class="collapse navbar-collapse" id="stationsplan-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="nav-stationen"><a>Stationen</a></li>
        <li id="nav-dienste"><a>Dienste</a></li>
        <li id="nav-tag"><a>Heute</a></li>
        {% if request.session.is_dep_lead %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Konfiguration <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="nav-funktionen"><a>Funktionen</a></li>
            <li id="nav-personen"><a>Personen</a></li>
            <li id="nav-zuordnung"><a>Zuordnung</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Abmelden</a></li>
            {% if request.session.can_change_password %}
            <li><a href="/password_change">Passwort ändern</a></li>
            {% endif %}
          </ul>
        </li>
        <p class="navbar-text">{% firstof user.get_full_name user.get_username %}</p>
      </ul>
    </nav><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock navigation %}

<!-- Content ________________________________________ -->
{% block content %}
  <div role="main" id="main-content">
    <div class="plans">
      <div id="functions_view" class="contentview functions_view">
        <h2>Funktionen zuordnen</h2>
        <table></table>
      </div>
    </div>
  </div>
<!-- Errors  ________________________________________ -->
{% if user.is_staff %}
  <div> <table id="errors" class="table hidden">
    <tr>
      <th>Status</th>
      <th>Error</th>
      <th>Response-Text</th>
      <th>URL</th>
      <th>Data</th>
    </tr>
  </table> </div>
{% endif %}
{% if can_change %}
  <footer class="pull-right text-muted small">Version: {{ APP_VERSION }}</footer>
{% endif %}
{% endblock content %}

<!-- Modal dialogs  _________________________________ -->
{% block extracontent %}
<!-- Modal dialog for changing staff -->
<div class="modal" id="changestaff" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Besetzung ändern</h4>
        <h4><span class="changedate"></span>, <span class="changeward"></span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5">
            <table id="changestafftable"></table>
          </div>
          <div class="col-sm-7 submitbuttons">
            <div id="date-picker"></div>
            <div><button type="button" class="btn btn-primary btn-block"
                    id="time_period">Zeitraum</button></div>
            <div><button type="button" class="btn btn-primary btn-block"
                    id="continued">ohne Ende</button></div>
            <div id="changehistory"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal dialog for approving Staffings -->
<div class="modal" id="approvestaffing" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Planung freigeben</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <table id="changeapprovaltable"></table>
          </div>
          <div class="col-sm-6">
            <div id="approval-date-picker"></div>
            <div><button type="button" class="btn btn-primary btn-block" 
                    id="approve-to-date">Freigeben</button></div>
            <div><button type="button" class="btn btn-primary btn-block" 
                    id="approve-all">Unbeschränkt sichtbar</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal dialog for quickly inputing Staffings for Call-Shifts -->
<div class="modal" id="quickinput" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dienstplanung eingeben - <span class="ward_name"></span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6" id="quickpersons"> </div>
          <div class="col-sm-6">
            <table id="quickdays" class="table"></table>
            <div>
              <button type="button" class="btn btn-primary btn-block prev_day">
                &uarr;</button>
              <button type="button" class="btn btn-primary btn-block next_day">
                &darr;</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Eingabe beenden</button>
      </div>
    </div>
  </div>
</div>

<!-- Check device size -->
<div class='device-check visible-xs' data-device='xs'></div>
<div class='device-check visible-sm' data-device='sm'></div>
<div class='device-check visible-md' data-device='md'></div>
<div class='device-check visible-lg' data-device='lg'></div>

{% endblock extracontent %}

{% block extrascripts %}
  {% include 'sp_app/templates.html' %}
    <script src="{% static 'vendor/underscore.js' %}"></script>
    <script src="{% static 'vendor/backbone.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.modalform.js' %}"></script>
    <script src="{% static 'vendor/jquery-ui-1.12.0.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.mobile.custom/jquery.mobile.custom.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/models.js' %}"></script>
    <script src="{% static 'js/changeviews.js' %}"></script>
    <script src="{% static 'js/views.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      $(function(){
        main.initialize_site(
    // persons
          {{ persons|safe }},
    // wards
          {{ wards|safe }},
    // different_days
          {{ different_days|safe }},
    // plannings
          {{ plannings|safe }},
          {{ first_of_month|date:'Y' }},     // curr_year
          {{ first_of_month|date:'n' }} - 1, // curr_month
          new Date({{ start_of_data|date:'Y'}}, 
                   {{ start_of_data|date:'n' }}-1, 
                   1),                       // start_of_data
          {% if is_editor %}true{% else %}false{% endif %},
    // holidays
          {{ holidays|safe }},
    // department_ids
          {{ department_ids|safe}},
    // last_change_pk
          {{ last_change_pk }},
    // last_change_time
          {{ last_change_time }}
        );
      });
    </script>
{% endblock extrascripts %}
