{% extends "base.jinja" %}

{% block navigation %}
{% include "sp_app/navigation.jinja" %}
{% endblock navigation %}

{% block content %}
<div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <div class="row">
    <div class="col col-xs-12">
      <h1>{{ company.name }}</h1>
      Es kommen die Feiertage von <strong>{{ company.region.name }}</strong> zur Anwendung.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav>{% with current_url="/setup/departments" %}
        {% include "sp_app/setup/setup-nav.jinja" %}
      {% endwith %}</nav>
      <div class="setup-tab" id="setup-tab">
      {% if is_company_admin %}
        {% include "sp_app/setup/lists/departments.jinja" %}
      {% else %}
        {% include "sp_app/setup/lists/employees.jinja" %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script src="{{ static('vendor/htmx.min.js') }}"></script>
{% endblock extrascripts %}