<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'tests/lib/jasmine-2.0.0/jasmine_favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tests/lib/jasmine-2.0.0/jasmine.css' %}">

  <script src="{% static 'tests/lib/jasmine-2.0.0/jasmine.js' %}"></script>
  <script src="{% static 'tests/lib/jasmine-2.0.0/jasmine-html.js' %}"></script>
  <script src="{% static 'tests/lib/jasmine-2.0.0/boot.js' %}"></script>

  <!-- include source files here... -->
  <script src="{% static 'vendor/jquery-2.1.0.min.js' %}"></script>
  <script src="{% static 'tests/lib/jasmine-jquery.js' %}"></script>
  <script src="{% static 'vendor/underscore.js' %}"></script>
  <script src="{% static 'vendor/backbone.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/models.js' %}"></script>
  <script src="{% static 'js/views.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <!-- include spec files here... -->
  <script src="{% static 'tests/spec/init.js' %}"></script>
  <script src="{% static 'tests/spec/utils.js' %}"></script>
  <script src="{% static 'tests/spec/models.js' %}"></script>

</head>

<body>
</body>
</html>
