{% extends "base.html" %}
{% load i18n %}

{% block navigation %}
{% include "sp_app/navigation.html" %}
{% endblock navigation %}

{% block content %}
<h1>Funktion bearbeiten</h1>
<form action="/funktion/{% if form.instance.pk %}{{ form.instance.pk }}{% else %}add{% endif %}/" method="post" id="form">{% csrf_token %}
<div class="row">
    <div class="col">
        
{% if form.errors %}
    <p class="STYLE-THIS">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
	<div>{{ form.errors }} </div>
	{% for key, value in form.errors.items %}
		<div>{{ key }}: {{ value }} </div>
	{% endfor %}
    </p>
{% endif %}
    </div>
</div>

<fieldset class="form">
{% comment %}
Missing fields:
'after_this', 'active', 'ward_type', 'weight', 
{% endcomment %}
<div class="row">
    {% include "sp_app/widgets/field_template.html" with field=form.name %}
    {% include "sp_app/widgets/field_template.html" with field=form.shortname %}
</div>
<div class="row margin-top-10">
    <div class="col col-xs-12"><label>Besetzung</label></div>
    {% include "sp_app/widgets/field_template.html" with field=form.min %}
    {% include "sp_app/widgets/field_template.html" with field=form.max %}
</div>
<div class="row margin-top-10">
{% include "sp_app/widgets/checkboxfield_template.html" with field=form.everyday %}
{% include "sp_app/widgets/checkboxfield_template.html" with field=form.freedays %}
{% include "sp_app/widgets/checkboxfield_template.html" with field=form.callshift %}
{% include "sp_app/widgets/checkboxfield_template.html" with field=form.on_leave %}
</div>
<div class="row margin-top-10">
{% include "sp_app/widgets/multicheckbox_template.html" with field=form.departments %}

{% include "sp_app/widgets/multicheckbox_template.html" with field=form.wkdys show_help=True %}
{% include "sp_app/widgets/multicheckbox_template.html" with field=form.position %}

{% include "sp_app/widgets/multicheckbox_template.html" with field=form.inactive show_help=True %}
</div>
<div class="row margin-top-10">
{% include "sp_app/widgets/multicheckbox_template.html" with field=form.after_this %}
{% include "sp_app/widgets/multicheckbox_template.html" with field=form.not_with_this %}
</div>

  {{ form.weekdays.as_hidden }}
  {{ form.company.as_hidden }}
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Speichern</button>
    </div>
  </div>
</fieldset>
</form>
{% endblock content %}
