{% for department in company.departments.all() %}
	<p><a hx-get="{{ url('department-update', department.id) }}"
	   hx-target="#edit-window" class="editable">
		{{ department.name }}
	</a></p>
{% endfor %}
  <div>
    <a class="btn btn-default editable"
       hx-get="{ url('department-add') }}" 
       hx-target="#edit-window" 
       role="button">
    Neue Abteilung</a>
  </div>
