{% extends "./modal_dialog.html" %}
{% block modaltitle %}Benutzer{% endblock modaltitle %}
{% block modalform %}
  <form hx-post="{{ url }}" class="form-horizontal edit-form">
    {% csrf_token %}
    {% with "./horizontal-edit-field.html" as template %}
      {% include template with field=user_form.username %}
      {% include template with field=user_form.first_name %}
      {% include template with field=user_form.last_name %}
      {% include template with field=employee_form.lvl %}
      {% include template with field=employee_form.departments %}
    {% endwith %}
  {% if user_form.errors %}
      <div>{{ user_form.errors }}</div>
   {% endif %}
  {% if employee_form.errors %}
      <div>{{ employee_form.errors }}</div>
   {% endif %}
  <div><button type="submit">Speichern</button></div>
  </form>
{% endblock modalform %}
