{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col col-xs-12">
    <h1>Stationsplanung erstellen</h1>
  </div>
  <form method="post">
  {% csrf_token %} 
  <div class="col col-md-6">
    <h2>Klinik</h2>
      {% include "sp_app/signup/oneline_field_template.html" with field=companyform.name %}
      {% include "sp_app/signup/oneline_field_template.html" with field=companyform.shortname %}
      {% include "sp_app/signup/oneline_field_template.html" with field=companyform.region %}
      {% include "sp_app/signup/oneline_field_template.html" with field=departmentform.department %}
  </div>
  <div class="col col-md-6">
    <h2>Administrator(?)</h2>
      {% include "sp_app/signup/oneline_field_template.html" with field=userform.first_name %}
      {% include "sp_app/signup/oneline_field_template.html" with field=userform.last_name %}
      {% include "sp_app/signup/oneline_field_template.html" with field=userform.username %}
      {% include "sp_app/signup/oneline_field_template.html" with field=userform.email %}
      {% include "sp_app/signup/oneline_field_template.html" with field=userform.password1 %}
      {% include "sp_app/signup/oneline_field_template.html" with field=userform.password2 %}
  </div>
    <p>Melden Sie sich an, um Stationsplan.de für Ihre Klinik zu nutzen.</p>
      <button type="submit">Anmelden</button>
  </form>
</div>
{% endblock content %}